#nav{
  border-style: solid;
  border-color: gray;
  float:left;
  width:25%;
  height: 100%;
  margin-right: 2px;
}

#mainContent{
  border-style: solid;
  border-color: gray;
  float:left;
  width:48%;
  height: 100%;
}

#profile{
  border-style: solid;
  border-color: gray;
  float:left;
  width:25%;
  margin-left: 2px;
  height: 100%;
}

#contentFather{
  border-style: None;
  border-color: gray;
  width: 90%;
  height: 1000px;
  margin-left: 5%;
}

.clear{
  clear:both;
}
