*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

#nav{
  width:250px;
  height: 100%;
  background: #fceca9;
  opacity: 0.9;
  position:absolute;
}

#mainContent{
  width:700px;
  height: 100%;
  background: #eeeeee;
  color: #111111;
  position:absolute;
  left:270px;
}

#profile{
  width:250px;
  height: 100%;
  opacity: 0.9;
  background-color: #eeeeee;
  position:absolute;
  left: 990px;
  display:block;
}

#contentFather{
  margin: 0 auto;
  position: relative;
  height: 1000px;
}



.wishbox{
  margin-left: 1%;
  margin-right: 1%;
}

.wishbox p
{
  font-size: 10px;
}

#profile ul{
  margin: 0 auto;
}

#profile li{
  width:55px;
  float:left;
  list-style:none;
  border-color: grey;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 0 15px 0 0;
  margin:0 15px 0 0;
}





