#nav{

  float:left;
  width:15%;
  height: 100%;
  margin-right: 1px;
  background: #fceca9;
  opacity: 0.9;
}

#mainContent{
  float:left;
  width:65%;
  height: 100%;
  background: #eeeeee;
  color: #111111;
}

#profile{
  float:left;
  width:15%;
  margin-left: 1px;
  height: 100%;
  opacity: 0.9;
  background-color: #eeeeee;
}

#contentFather{
  width: 90%;
  height: 1000px;
  margin-left: 5%;
  opacity: 0.9;
}

.clear{
  clear:both;
}

.wishbox{
  margin-left: 1%;
  margin-right: 1%;
}

.wishbox p
{
  font-size: 10px;
}






