*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

#nav{
  border-style: solid;
  border-color: gray;
  width:200px;
  height: 100%;
  position: absolute;
}

#mainContent{
  border-style: solid;
  border-color: gray;
  width:600px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  left: 200px;
}

#profile{
  border-style: solid;
  border-color: gray;
  width:200px;
  margin-left: 2px;
  height: 100%;
  position: absolute;
  left:800px;
}

#contentFather{
  border-style: None;
  border-color: gray;
  width: 10000px;
  height: 1000px;
  margin: 0  auto;
  position: relative;
  left: 200px;
}

.clear{
  clear:both;
}

.wishbox{
  margin-left: 2%;
  margin-right: 2%;
}
